# Listen address and port.
listen_address = '127.0.0.1'
listen_port = 7777

# Run as a low privileged user.
# If you don't want to create one, you can try 'nobody'.
run_as_user = 'iredapd'

# Path to pid file.
pid_file = '/var/run/iredapd.pid'

# Path to log file.
# Set 'log_file = /dev/null' if you don't want to keep the log.
log_file = '/var/log/iredapd.log'

# Log level: info, debug.
log_level = 'info'

# Backend: ldap, mysql, pgsql.
backend = 'ldap'

# Enabled plugins.
#   - Plugin name is file name which placed under 'plugins/' directory.
#   - Plugin names MUST be seperated by comma.
plugins = ['ldap_maillist_access_policy', 'ldap_amavisd_block_blacklisted_senders']

####################
# For ldap backend.
#
# LDAP server setting.
# Uri must starts with ldap:// or ldaps:// (TLS/SSL).
#
# Tip: You can get binddn, bindpw from /etc/postfix/ldap_*.cf.
#
ldap_uri = 'ldap://127.0.0.1:389'
ldap_basedn = 'o=domains,dc=iredmail,dc=org'
ldap_binddn = 'cn=vmail,dc=iredmail,dc=org'
ldap_bindpw = 'mRAEWpGRtlCs1O0QuWpXoaJ36EjRql'

#
# For MySQL and PostgreSQL backends.
#
sql_server = '127.0.0.1'
sql_port = '3306'
sql_db = 'vmail'
sql_user = 'vmail'
sql_password = 'Psaf68wsuVctYSbj4PJzRqmFsE0rlQ'
