[general]
# Listen address and port.
listen_addr     = 127.0.0.1
listen_port     = 7778

# Run as a low privileged user.
# If you don't want to create one, you can try 'nobody'.
run_as_user     = iredapd

# Background/daemon mode: yes, no.
# Detach iredapd from terminal. It's recommended to always running as daemon.
run_as_daemon   = yes

# Path to pid file.
pid_file        = /var/run/iredapd-rr.pid

# Log type: file.
# Note:
#   - Currently, only 'file' type is supported.
#   - If log_type is 'file', log_file is required.
#   - If log_type is 'mysql', sql related info are required.
log_type        = file
log_file        = /var/log/iredapd-rr.log

# Log level: info, error, debug.
log_level       = error

# Backend: ldap, mysql.
backend = ldap

# Bypass clients listed in postfix 'mynetworks': yes, no.
bypass_mynetworks = no

[ldap]
# For ldap backend only.
# LDAP server setting.
# Uri must starts with ldap:// or ldaps:// (TLS/SSL).
#
# Tip: You can get binddn, bindpw from /etc/postfix/ldap_*.cf.
#
uri         = ldap://127.0.0.1:389
binddn      = cn=vmail,dc=iredmail,dc=org
bindpw      = mRAEWpGRtlCs1O0QuWpXoaJ36EjRql
basedn      = o=domains,dc=iredmail,dc=org

# Enabled plugins.
#   - Plugin name is file name which placed under 'src/plugins/' directory.
#   - Plugin names MUST be seperated by comma.
plugins = ldap_recipient_restrictions
