[general]
# Listen address and port.
listen_addr     = 127.0.0.1
listen_port     = 7777

# Background/daemon mode: yes, no.
# Detach iredapd from terminal. Enable when you're happy
# that things are working as expected.
run_as_daemon   = yes

# Path to pid file.
pid_file        = /var/run/iredapd.pid

# Log type: file.
# Note:
#   - Currently, only 'file' type is supported.
#   - If log_type is 'file', log_file is required.
#   - If log_type is 'mysql', sql related info are required.
log_type        = file
log_file        = /var/log/iredapd.log

log_sql_server  = 127.0.0.1
log_sql_port    = 3306
log_sql_dbname  = iredadmin
log_sql_dbuser  = iredadmin
log_sql_dbpass  = your_passwd

# Log level: info, warning, error, debug.
# 'info' is recommended for product use.
log_level       = info

[ldap]
# LDAP server setting.
# Uri must starts with ldap:// or ldaps:// (TLS/SSL).
uri         = ldap://127.0.0.1:389
binddn      = cn=vmail,dc=iredmail,dc=org
bindpw      = 5NC4VyRJdws3ounpcKJw9zXu0B8ou6
basedn      = o=domains,dc=iredmail,dc=org

# Attribute name which used to store mail list access policy
attr_access_policy  = accessPolicy

# LDAP filter used to search mail list
# Note: placeholder '%(recipient)s' can be used here, will be
# replaced by mail list address.
filter_maillist = (&(mail=%(recipient)s)(objectclass=mailList)(accountStatus=active)(enabledService=mail)(enabledService=deliver))

# LDAP filter used to search members of mail list
# Note:
# - placeholder '%(recipient)s' can be used here, will be replacd
#   by mail list address.
# - placeholder '%(sender)s' can be used here, will be replaced
#   by sender address.
filter_member   = (&(memberOfGroup=%(recipient)s)(objectclass=mailUser)(accountStatus=active)(enabledService=mail)(enabledService=deliver)(mail=%(sender)s))

# LDAP filter used to search allowed users.
# Note:
# - placeholder '%(recipient)s' can be used here, will be replacd
#   by mail list address.
# - placeholder '%(sender)s' can be used here, will be replaced
#   by sender address.
filter_allowed_senders = (&(mail=%(recipient)s)(objectclass=mailList)(accountStatus=active)(enabledService=mail)(enabledService=deliver)(listAllowedUser=%(sender)s))
