[Unit]
Description=iRedAPD (A simple posfix policy server)
After=network.target local-fs.target remote-fs.target slapd.service

[Service]
Type=forking
PIDFile=/run/iredapd.pid
ExecStart=/usr/bin/python3 /opt/iredapd/iredapd.py
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
